<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>顾客管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/controller/consumerController.js">  </script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="management" ng-controller="consumerController"  ng-init="findService()" >
                    <div class="box-header with-border">
                        <h3 class="box-title">顾客管理</h3>
                    </div>
                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default glyphicon glyphicon-plus" title="新建" data-toggle="modal" data-target="#addModal" ng-click="saveconsumer={}" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default glyphicon glyphicon-repeat" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                    顾客名称：<input ng-model="condition.conname" ng-value=" ">
							                    电话：<input ng-model="condition.conphone" ng-value=" ">
									状态：<select ng-model="condition.constatus">
										<option value="" ng-selected="true">所有</option>
										<option ng-value="0">进行中</option>
										<option ng-value="1">已结束</option>
									</select>
									<button class="btn btn-default glyphicon glyphicon-search" ng-click="reloadList()" >查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>

										  <th class="sorting_asc">顾客ID</th>
									      <th class="sorting">名字</th>
									      <th class="sorting">性别</th>
					                      <th class="">电话</th>
					                      <th class="">报名时间</th>
					                      <th class="">项目服务</th>
					                      <th class="">交费</th>
					                      <th class="">状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr  ng-repeat="list in entitys">
										  <td>{{list.id}}</td>
									      <td>{{list.conname}}</td>
									      <td>{{list.consex}}</td>
									      <td>{{list.conphone}}</td>
									      <td style="color: red">{{list.contime}}</td>
									      <td>{{list.conservice}}</td>
									      <td style="color: red">{{list.conaccount==1?'已缴费':'未缴费'}}</td>

									      <td ng-if="list.constatus==0")>进行中</td>
									      <td ng-if="list.constatus==1")>已结束--{{list.endtime}}</td>
		                                  <td class="text-center">
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(list.id)">修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->    
                        </div>
						<tm-pagination conf="paginationConf"></tm-pagination>
                        <!-- 数据表格 /--> 
                     </div>
                    <!-- /.box-body -->



  <!-- 添加窗口 -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				  <h3 id="myModal">顾客添加</h3>
			  </div>
			  <div class="modal-body">
				  <table class="table table-bordered table-striped"  width="800px">
					  <tr>

						  <td>顾客姓名</td>
						  <td><input  class="form-control" placeholder="顾客姓名" ng-model="saveconsumer.conname" >  </td>
					  </tr>
					  <tr>
						  <td>性别</td>
						  <td >
							  <input type="radio"  value="男" name="sexx" ng-model="saveconsumer.consex" >男
							  <input type="radio"  value="女" name="sexx" checked="checked" ng-model="saveconsumer.consex">女
						  </td>
					  </tr>
					  <tr>
						  <td>电话</td>
						  <td><input  class="form-control" placeholder="电话" ng-model="saveconsumer.conphone">  </td>
					  </tr>
					  <tr>
						  <td>报名时间</td>
						  <td><input  type="date" class="form-control" placeholder="报名时间" ng-model="saveconsumer.contime" >  </td>
					  </tr>
					  <tr>
						  <td>报名服务</td>
						  <td>
						  	<select ng-model="saveconsumer.conservice">
								<option value="">--请选择--</option>
								<option ng-repeat="c in allservice"  ng-value="c.serviceid"  >{{c.servicename}}</option>
							</select>
						  </td>
					  </tr>
					  <tr>
						  <td>交费情况</td>
						  <td >
							  <input type="radio"  ng-value="1" name="accountt" ng-model="saveconsumer.conaccount">已缴费
							  <input type="radio"  ng-value="0" name="accountt" checked="checked" ng-model="saveconsumer.conaccount">未缴费

						  </td>
					  </tr>
				  </table>
			  </div>
			  <div class="modal-footer">
				  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveConsumer()">保存</button>
				  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			  </div>
		  </div>
	  </div>
  </div>

  <!--编辑窗口-->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h3 id="myModalLab">顾客编辑</h3>
			  </div>
			  <div class="modal-body">
				  <table class="table table-bordered table-striped"  width="800px">
					  <tr>
						  <td>顾客姓名</td>
						  <td><input  class="form-control" placeholder="顾客姓名" ng-model="addOrder.conname" >  </td>
					  </tr>
					  <tr>
						  <td>性别</td>
						  <td>
						  <input type="radio" name="sex" value="男" checked="checked" ng-model="findone.consex" />男
						  <input type="radio"  name="sex"  value="女" ng-model="findone.consex"/>女
						  </td>
					  </tr>
					  <tr>
						  <td>电话</td>
						  <td><input  class="form-control" placeholder="电话" ng-model="findone.conphone" >  </td>
					  </tr>
					  <tr>
						  <td>报名时间</td>
						  <td><input  type="date" class="form-control" placeholder="报名时间" ng-model="findone.contime" >  </td>
					  </tr>
					  <tr>
						  <td>报名服务</td>
						  <td>
						  	<select ng-model="findone.conservice" id="service" name="service">
									<option   ng-repeat="c in allservice" value="{{c.serviceid}}" ng-selected="findone.conservice == c.serviceid">{{c.servicename}}</option>

							</select>
						  </td>
					  </tr>
					  <tr>
						  <td>交费</td>
						  <td>
							  <input type="radio" ng-value="0" name="account" ng-model="findone.conaccount"/><nobr style="color: red ">未缴费</nobr>
							  <input  type="radio" ng-value="1" name="account" checked="checked" ng-model="findone.conaccount"/>已缴费
						  </td>
					  </tr>
					  <tr>
						  <td>状态</td>
						  <td>
							  <input  type="radio" ng-value="0" name="status" checked="checked" ng-model="findone.constatus"/><nobr style="color: red ">进行中</nobr>
							  <input  type="radio" ng-value="1" name="status" ng-model="findone.constatus"/>已结束
						  </td>
					  </tr>
				  </table>
			  </div>
			  <div class="modal-footer">
				  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="editConsumer()">保存</button>
				  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			  </div>
		  </div>
	  </div>
  </div>
</body>

</html>